doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/paths") Pelion-Paths
          li 
            a(href="/map") map
          li 
            a(href="/tsagarada") tsagarada
    section#wrapper
      block content
      footer 
       



footer
section.css-table
section.four-column
<div>
<strong>Start: </strong>
<select id="start" onchange="script(type='text/javascript', src='/javascripts/calcroute.js');">
<option value="Milies, Griechenland">Milies</option>
<option value="Tsagarada, Griechenland">Tsagarada</option>
</select>
<strong>End: </strong>
<select id="end" onchange="calcRoute();">
<option value="Tsagarada, Greece">Tsagarada</option>
<option value="Milies, Griechenland">Milies</option>
</select>
</div> 