doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/paths") Pelion-Paths
          li 
            a(href="/map") map
          li 
            a(href="/tsagarada") tsagarada
    section#wrapper
      block content
      footer 
       



footer
section.css-table
section.four-column
